body{
  background-color: rgb(206, 227, 236);
  
}
.btn1 {
  background-color: rgb(50, 123, 179);
  border-radius: 10rem;
  color: aliceblue;
  border-color: rgb(0, 0, 0);
  padding: 5px;
}
.btn1:hover{
  padding: 6px;
  background-color: rgb(158, 181, 200);
}